#location .contactDl
{
	margin: 0;
	padding: 0 10px 5px 10px;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
}
#location .contactDl dt, #location .contactDl dd
{
	float: left;
	margin-top: 10px;
}

#location .contactDl dt
{
	width: 70px;
}
#location .contactDl dd
{
	margin-left: 0;
	width: 180px;
}
